<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add/Edit Student</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="form-container">
    <h2 th:text="${student.id} != null ? 'Edit Student' : 'Add New Student'"></h2>
    <form th:action="@{/students/save}" th:object="${student}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <label>Name:</label>
        <input type="text" th:field="*{name}" required />

        <label>Email:</label>
        <input type="email" th:field="*{email}" required />

        <label>DOB:</label>
        <input type="date" th:field="*{dob}" required />

        <label>Age:</label>
        <input type="number" th:field="*{age}" required />

        <label>Class:</label>
        <input type="text" th:field="*{studentClass}" required />

        <label>Address:</label>
        <textarea th:field="*{address}" required></textarea>

        <button type="submit">Submit</button>
        <a href="/" class="cancel-btn">Cancel</a>
    </form>
</div>
</body>
</html>
